.navbar.navbar-default
  .container-fluid
    .navbar-header
      = link_to "Rapidshare", "#", class: "navbar-brand"
    - if current_user
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure you want to log out?"}
